* {
    margin: 0;
    font-family: "Oxygen", serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --verde-floresta: #2E7D32;
    --amarelo-solar: #FFC107;
    --cinza-urbano: #757575;
    --branco-neve: #FFFFFF;
    --padding-pq: 1rem;
    --padding-md: 2rem;
    --padding-gd: 4rem;
}

/* botoes */

/* header */

header {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-between;
    height: 4rem;
}

header img {
    height: 100px;
}

header nav {
    background-color: var(--branco-neve);
    display: flex;
    gap: 2rem;
}

header nav a {
    text-decoration: none;
    color: #000;
    transition: 1s;
}

header nav a:hover {
    color: var(--verde-floresta);
    font-size: 1.25rem;
}

/* hero section */

#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../media/images/backgd1.jpg");
    background-size: 100vw;
    height: calc(100vh - 4rem);
    width: 100%;
    object-fit: cover;
    background-position-y: center;
    padding: 0;
}

.hero_foreground {
    color: var(--branco-neve);
    text-align: center;
    padding-top: 20vh;
}

.hero_foreground h1 {
    font-weight: 200;
    font-size: 3.75rem;
}

.hero_foreground p {
    padding: 1rem 0 2rem 0;
    font-size: 1.25rem;
    font-weight: 100;
    letter-spacing: 1.5px;
}

/* about section */

#about {
    height: 75vh;
    width: 100%;
    text-align: center;
    display: grid;
    padding-bottom: 30vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 27%, rgba(117, 117, 117, 1) 100%);
}

#about h2 {
    padding-bottom: 4rem;
    font-size: 2.5rem;
    font-weight: 300;
    padding-top: 11vh;
}

#about span {
    color: var(--verde-floresta);
    font-weight: 400;
}

.about_container {
    display: grid;
    gap: 1rem;
}

.about_text {
    grid-column: 1;
    padding: 2rem;
}

.about_container p {
    display: flex;
    text-align: left;
    padding: 1rem;
    font-weight: 300;
}

.about_images {
    grid-column: 2;
    width: 50vw;
}

.about_images img {
    width: 40vw;
    padding: 2rem;
}