* {
    margin: 0;
    font-family: "Oxygen", serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --verde-floresta: #2E7D32;
    --amarelo-solar: #FFC107;
    --cinza-urbano: #757575;
    --branco-neve: #FFFFFF;
    --padding-pq: 1rem;
    --padding-md: 2rem;
    --padding-gd: 4rem;
}

/* botoes */

/* header */

header {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-between;
    height: 4rem;
}

header img {
    height: 100px;
}

header nav {
    background-color: var(--branco-neve);
    display: flex;
    gap: 2rem;
}

header nav a {
    text-decoration: none;
    color: #000;
    transition: 1s;
}

header nav a:hover {
    color: var(--verde-floresta);
    font-size: 1.25rem;
}

/* hero section */

#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../media/images/backgd1.jpg");
    background-size: 100vw;
    height: calc(100vh - 4rem);
    width: 100%;
    object-fit: cover;
    background-position-y: center;
    padding: 0;
}

.hero_foreground {
    color: var(--branco-neve);
    text-align: center;
    padding-top: 20vh;
}

.hero_foreground h1 {
    font-weight: 200;
    font-size: 3.75rem;
}

.hero_foreground p {
    padding: 1rem 0 2rem 0;
    font-size: 1.25rem;
    font-weight: 100;
    letter-spacing: 1.5px;
}

/* about section */

#about {
    height: 100vh;
    width: 100%;
    text-align: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 27%, rgba(117, 117, 117, 1) 100%);
}

#about h2,
#advantages h2 {
    padding-bottom: 4rem;
    font-size: 2.5rem;
    font-weight: 300;
    padding-top: 11vh;
}

#about span {
    color: var(--verde-floresta);
    font-weight: 400;
}

.about_container {
    display: grid;
    gap: 1rem;
    max-height: 100vh;
}

.about_text {
    grid-column: 1;
    padding: 2rem;
    max-height: 100vh;
}

.about_container p {
    display: flex;
    text-align: left;
    padding: 1rem;
    font-weight: 300;
}

.about_images {
    grid-column: 2;
    width: 50vw;
}

.about_images img {
    width: 40vw;
    padding: 2rem;
}

/* advantages section */

#advantages {
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
/*     flex-direction: row; */
    padding: 2rem 0;
    width: 75%;
    height: 70%;
    overflow: hidden;
    gap: 3rem;
}

.card {
    flex: 1;
    height: 100%;
    transition: flex 0.5s ease;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    border-radius: .5rem;
}

.card h3 {
    color: var(--branco-neve);
    font-size: 2rem;
    margin-top: 3rem;
}

.card p {
    color: var(--branco-neve);
    margin-top: 1rem;
}

.card1 {
    background-image: url(../media/images/_Entrega\ Sustentável_\ Bikes\ elétricas\ e\ veículos\ ecológicos\ com\ fundo\ mais\ escuro.jpg);
}

.card2 {
    background-image: url(../media/images/Rápido\ e\ Seguro_\ Tecnologia\ para\ rotas\ sustentaveis\ otimizadas\ com\ fundo\ mais\ escuro.jpg);
}

.card3 {
    background-image: url(../media/images/_Pegada\ Zero_\ Compromisso\ com\ um\ futuro\ mais\ verde\ com\ fundo\ mais\ escuro\ e\ sem\ escritas.jpg );
}

.card:hover {
    flex: 2;
}

.card:hover h3 {
    font-size: 3rem;
}

.card:hover p {
    font-size: 1.25rem;
}
